body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 40%;
  transform: translateY(-50%);
}
